/*---------------------------------
	Estilo de Formularios
-----------------------------------*/

label{
	font-family: segoe UI;
	font-size: 14px;
	display:inline-block;
	*display:inline;
	vertical-align: middle;
	margin:0;
	padding:0;
	position:relative;
	top:0;
	left:0;
	zoom:1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

input[type=text],input[type=password],.dropdown {
	font-family: segoe UI;
	font-size: 14px;
	display:inline-block;
	*display:inline;
	vertical-align: middle;
	width:auto;
	zoom:1;
	margin:0;
	border:1px solid #ccc; /*#06D606*/
	/*font-size:1em;*/
	padding:0px 0;
	text-indent: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:#fff;
	-moz-box-shadow:inset 0px 0px 6px #ccc;
	-webkit-box-shadow:inset 0px 1px 6px #ccc;
	box-shadow:inset 0px 1px 6px #ccc;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

	input::-webkit-input-placeholder,
	input:-moz-placeholder,
	.placeholder{
	color:#bbb;
	}
	
	input::-moz-focus-inner {border:0;}

	input[disabled="disabled"], input.disabled{
	color:#999;
	background:#f5f5f5;
	-moz-box-shadow:inset 0px 0px 2px #ddd;
	-webkit-box-shadow:inset 0px 1px 2px #ddd;
	box-shadow:inset 0px 1px 2px #ddd;
	}
	
	/* FOCUS STATES */
	input[type="text"]:focus,
	textarea:focus,
	button:focus,
	/*a.button:focus,*/
	select:focus,
	input[type="file"]:focus,
	input[type="password"]:focus,
	.rte-editor:focus,
	textarea.rte:focus{
	-webkit-box-shadow: 0 0 5px #06D606; /*anterior  #6DB9FF*/
	-moz-box-shadow   : 0 0 5px #06D606;
	-o-box-shadow     : 0 0 5px #06D606;
	box-shadow        : 0 0 5px #06D606;
	border: 1px solid #06D606;
	outline: none;
	font-size: 14px;
	}
	
	/* TRANSITION */
	input[type="text"],
	textarea,
	/*button,*/
	/*a.button,*/
	a,
	input[type="file"]{
	transition: box-shadow 0.5s, border 0.5s, background 0.5s;
	-moz-transition: -moz-box-shadow 0.5s, border 0.5s, background 0.5s;
	-webkit-transition: -webkit-box-shadow 0.5s, border 0.5s, background 0.5s;
	-o-transition:  -o-box-shadow 0.5s, border 0.5s, background 0.5s;
	font-size: 14px;
	}

textarea{
	font-family: segoe UI;
	font-size: 14px;
	width:auto;
	/*height:200px;*/
	margin:0;
	border:1px solid #ccc;
	padding:5px;
	vertical-align: middle;
	/*font-family:inherit;
	font-size:0.9em;*/
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:inset 0px 0px 6px #ccc;
	-webkit-box-shadow:inset 0px 1px 6px #ccc;
	box-shadow:inset 0px 1px 6px #ccc;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

table{
	/*width:100%;*/
	margin:0 0 10px 0;
	/*text-align:left;*/
	border-collapse: collapse;
}
	th, td{
	padding:7px 10px;
	font-size:14px;
	border-bottom:1px dotted #ddd;
	/*text-align: left;*/}
