﻿html, body {
	margin:0;
	padding:0;
	height:100%;
}

#container {
	display: table;
	height:100%;
	width:100%;
	margin:0;
	background-color:#FFFFFF;
	background: -webkit-gradient(radial, center center, 0, center center, 1024, from(#FFFFFF), to(#BA4D4D));
	/* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #FFFFFF, #BA4D4D);
  
    /* Firefox 3.6+ */ 
    background: -moz-radial-gradient(circle, #FFFFFF, #BA4D4D);
  
    /* IE 10 */ 
    background: -ms-radial-gradient(circle, #FFFFFF, #BA4D4D);
}

#content {
     display: table-cell;
     vertical-align: middle;
     position: relative;
}

/* \*/
* html #content {
     top: 50%;
     left: 0;
     height: 1px;
}

#principal {
	height: 205px;
	padding: 17px 15px 5px 15px;
	position: absolute;
	width:96.8%;
	filter:alpha(opacity=60);
	-moz-opacity:.60;opacity:.60
	z-index:500;
}

.aux-space {
	margin:auto;
    width:440px;
    text-align: center;
}

#logo {
	padding: 0px 12px 0px 0px;
	float: left;
}

#logo-img {
	height: 209px;
	width: 450px;
	float: left;
}

#body-header {
	float: left;
	line-height: 1.33;
	padding: 23px 0 20px 0;
}

#texto-logo {
	width: 200px;
	height: 64px;
	background: url(../imagenes/nombre-logo.png) left no-repeat;
}

/*caja de login*/
#sing-in {
	height:294px;
	width:335px;
	margin:auto;
}

#login-box {
	margin:12px 0 0 0;
	padding:20px 25px 15px 25px;
	width:283px;
	height:245px;
}

#login-box h2 {
	font-size: 16px;
	line-height: 17px;
	height: 16px;
	margin: 0 0 1.2em;
	position: relative;
	font-weight:normal;
}

 html {
  font: 81.25% arial, helvetica, sans-serif;
  background: #fff;
  color: #333;
  line-height: 1;
  direction: ltr;
}

#login-box h2 strong { 
	display: inline-block;
	position: absolute;
	right: 0;
	top: 1px;
	height: 19px;
	width: 52px;
	color:#BA4D4D;
	font-size:13px;
	text-align: center;
}

#login-box div {
	margin: 0 0 1.5em;
}

#login-box label {
  display: block;
}

#login-box input[type=text],
#login-box input[type=password] {
  width: 100%;
  height: 32px;
  font-size: 15px;
  direction: ltr;
}

#login-box .email-label,
#login-box .passwd-label {
  font-weight: bold;
  margin: 0 0 .5em;
  display: block;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; 
}

#login-box input[type=submit] {
  margin: 0 1.5em 1.2em 0;
  height: 32px;
  font-size: 13px;
}

.button-submit {
  border: 1px solid #BA4D4D;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  border-radius:2px;
  background-color: #C60001;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#C60001),to(#E65959));
  background-image: -webkit-linear-gradient(top,#C60001,#E65959);
  background-image: -moz-linear-gradient(top,#C60001,#E65959);
  background-image: -ms-linear-gradient(top,#C60001,#E65959);
  background-image: -o-linear-gradient(top,#C60001,#E65959);
  background-image: linear-gradient(top,#C60001,#E65959);
}

.button-submit:hover {
  border: 1px solid #C60001;
  color: #C60001;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #fff;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#BA4D4D),to(#E65959));
  background-image: -webkit-linear-gradient(top,#BA4D4D,#E65959);
  background-image: -moz-linear-gradient(top,#BA4D4D,#E65959);
  background-image: -ms-linear-gradient(top,#BA4D4D,#E65959);
  background-image: -o-linear-gradient(top,#BA4D4D,#E65959);
  background-image: linear-gradient(top,#BA4D4D,#E65959);
}
 
 .button-submit:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

footer {
	padding: 17px 15px 5px 15px;
	width:100%;
	position: absolute;
	top:92%;
	right:0;
	filter:alpha(opacity=60);
	-moz-opacity:.60;opacity:.60
	z-index:500;
	font-weight:bold;
	font-size:13px;
	font-family: 'Open Sans',arial,sans-serif;
}

.error {  
	   border:1px solid #D8000C;
	   border-radius: 10px;
	   padding: 5px 8px 5px 15px;
       color: #D8000C;  
       background-color: #FFBABA;  
       font-weight: bold;
       background-image: url(../iconos/delete.ico);  
}