
.info, .exito, .alerta, .error {  
       font-family:Arial, Helvetica, sans-serif;   
       font-size:13px;  
       border: 1px solid;  
       margin: 10px 0px;  
       padding:40px 10px 15px 150px;  
       background-repeat: no-repeat;  
       background-position: 10px center;  
}  
.info {  
       color: #00529B;  
       background-color: #BDE5F8;  
       background-image: url(../iconos/info.ico);  
}  


.alerta {   
		color: #9F6000;  
       background-color: #FEEFB3;  
       background-image: url(../iconos/warning.ico);  
}  
.error {  
       color: #D8000C;  
       background-color: #FFBABA;  
       background-image: url(../iconos/delete.ico);  
} 
