@import url(estilo_forms.css);

html body {
	margin: 0;
	padding: 0;
	background-color:white;
}

body > header {
	background-color:#D4FFCB;
}

#principal {
	background-color:#ffff;
	height: 160px;
	padding: 17px 15px 5px 15px;
}

#tabalita th{
	border:2px solid; 
	border-color:#5772C2;
	background-color:#D4FFCB; 
	
	/**font-weight:bold; 
	text-align:left; 
	color:javascript:void(0)003; 
	padding:2px; 
	padding-bottom:0px; 
	font-size:.9em;*/
}



#fixed-space {
	height: 180px;
	width: 97%;
}

#logo {
	padding: 0px 2px 2px 0px;
	float: left;
	width: 15%;
}

#logo-img {
	height: 151px;
	width: 180px;
	float: left;
}

#logoimg {
	float: center;
}

#imagen_bienvenida{
	height: 626px;
	width: 626px;
	margin: auto;
}

#body-header {
	float: left;
	line-height: 1.33;
	padding: 75px 0 20px 0px;
	width: 45%;
}

#errorId{
	color: red;
}
div#body-header h1 {
	font-family: 'Open Sans',arial,sans-serif;
	font-weight: 100;
	font-size: 32px;
	//display: inline;
	color: #000000;
	padding: 0px 0px 0px 12px;
	border-left: 1px solid #093201;
	text-align: center;
	margin: 0;
}
 
#titulo-pie-cont {
	max-width:348px;
	padding:10px 0px 30px 20px;
	margin:auto 0 0 0;
	float:right;
	vertical-align:bottom;
}

#titulo-pie-cont li {
	font-family: 'Open Sans',arial,sans-serif;
	font-size:11px;
	min-width:108px;
	text-align: center;
	padding-left:2px;
}

#titulo-pie-cont li a {
	color: #093201;
	display: block;
	font-size: .95em;
	padding: 5px 0 1px;
	text-decoration: none;
	border-bottom: 4px solid #093201;
	white-space: nowrap;
}

#titulo-pie-cont li a:hover {
	background-color: transparent;
	border-color: #C60001;
	color: #C60001;
}

a {
	text-decoration: none;
}

#mn {
	background-color: #C60001;
	background: linear-gradient(top,#C60001 0,#C31E1E 90%,#9D2323 93%,#9D2323 96%,#fff 99%);
	background: -moz-linear-gradient(top,#C60001 0,#C31E1E 90%,#9D2323 93%,#9D2323 96%,#fff 99%);
	background: -ms-linear-gradient(top,#C60001 0,#C31E1E 90%,#9D2323 93%,#9D2323 96%,#fff 99%);
	background: -webkit-linear-gradient(top,#C60001 0,#C31E1E 90%,#9D2323 93%,#9D2323 96%,#fff 99%);

}

ul#nav {
	padding: 4px px 4px 6px;
	line-height: 100%;
	width: 978px;
	margin:auto;
}

#nav li {
	margin: 0 5px;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
}

/* main level link */
#nav a {
	color: white;
	font-family: 'Open Sans',arial,sans-serif;
	font-size:12.7px;
	font-weight:bold;
	text-decoration: none;
	display: block;
	padding:  8px 8px;
	margin: 0;
	/*border-radius: 1.6em;*/
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

/* main level link hover */
#nav .current a, #nav li:hover > a {
	background: #d1d1d1; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#ffffff)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ebebeb,  #ffffff); /* for firefox 3.6+ */

	color: #C60001;
	border-top: solid 0px #f8f8f8;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}

/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
	border: none;
	color: #666;
	box-shadow: none;
	border-radius:0;
}

#nav ul a:hover {
	background: #06D606 !important; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#06D606', endColorstr='#09D309'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#06D606), to(#09D309)) !important; /* for webkit browsers */
	background: -moz-linear-gradient(top,  #06D606,  #09D309) !important; /* for firefox 3.6+ */

	color: #fff !important;
	border-radius: 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

/* level 2 list */
#nav ul {
	background: #ddd; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cfcfcf)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #cfcfcf); /* for firefox 3.6+ */

	display: none;
	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
	border: solid 1px #b4b4b4;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

/* dropdown */
#nav li:hover > ul {
	display: block;
}
#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}
#nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
}
/* level 3+ list */
#nav ul ul {
	left: 100%;
	top: -3px;
}

/* clearfix */
#nav:after {
	content: ".";
	display: block;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#nav {
	display: inline-block;
}

html[xmlns] #nav {
	display: block;
}

* html #nav {
	height: 1%;
}

/*cuerpo de la pagina*/
.content-page {
	clear:both;
	margin:auto auto auto auto;
	width: 100%;
	display:table;
}

.side-bar{
	padding: 10px 15px 5px 15px;
	display:table-row;
	width: 14%;
}

.work-space{
	padding: 10px 15px 5px 15px;
	display:table-row;
	width: 75%;
}

.aux-space, .aux-space-body  {
	//margin:auto;
	width: 100%;
}

.aux-space-body {
    padding-bottom: 0px;
	height:100%;
}

.pagina {
    min-height:100%;
    position:relative;
}

.li-clear {
	clear: both;

}

.li-float {
	float: right;
}
.div-table {
	display: table;
	height:80px;
	width:35%;
	padding: 38px 0px 0px 0px;
}

.div-cell {
	display: table-cell;
	vertical-align: bottom;
	position: relative;
	bottom:-4px;
}


aside, section {
	//display:table-cell;
	vertical-align:top;
	font-family: 'Open Sans',arial,sans-serif;
	font-size: 15px;
}

aside {
	width:100%;
}

section {
	width:100%;
}


ul {
	text-decoration:none;
	list-style:none;
}

/*estilo de sidebar*/

#menu {  
	text-align: center;
	font-size: 0.7em;
	width: 100%;
	margin: 0px;
	padding-top: 10px;
}

#menu ul { 
	list-style-type: none;
}

#menu ul li.nivel1{ 
	width: %;
	z-index: 1;
}

#menu ul li.primera { 
	border-top: solid 1px #FFF;
	z-index: 2;
}
#menu ul li.segunda{ 
	border-top: solid 1px #FFF;
	z-index: 2;
}

#menu ul li a {
	display: block;
	text-decoration: none;
	color: #fff;
	background-color: #C31E1E;
	border: solid 1px #fff;
	border-top: none;
	padding: 8px;
	position: relative;
}

#menu ul li:hover {
	position: relative;
	background-color: #007200;
	color: #fff;
}

#menu ul li a:hover, #menu ul li:hover a.nivel1 {
	background-color: #06D606;
	color: #fff;
	position: relative;
}

#menu ul li a.nivel1 {
	display: block!important;
	display: none;
	position: relative;
}

#menu ul li ul {
	display: none;
}

#menu ul li a:hover ul, #menu ul li:hover ul {
	display: block;
	position: absolute;
	left: 184px;
	top: -1px!important;
	top: -31px;
}

#menu ul li ul li a {
	width: 180px;
	background-color: #007200;
	color: #fff;
}

#menu ul li ul li a:hover {
	position: relative;
	background-color: #009900;
	color: #FFF;
}


/*ul#sidebar {
	padding:0; 
	margin:0 30px 0 0;
}

ul#sidebar li {
	border-bottom:1px solid #BABCC0;
	padding:10px 0 10px 0;
}

ul#sidebar li.li-last {
	border:none;
}

ul#sidebar li a, ul#sidebar li a:visited {
	color:#15C;
}

ul#sidebar li a:active, ul#sidebar li a:focus, ul#sidebar li a:hover {
	text-decoration:underline;
}*/

/*estilo section*/
section {
	padding:0 0 0 15px;
	border-left:1px solid #BABCC0;
	max-width: 763px;
	overflow: hidden;
}

.split {
	border-top:1px dashed  #15C;
	border-bottom:1px dashed  #15C;
	padding:5px 0 5px 0;
	text-align:center;
}

footer {
	clear: both;
	margin: 15% 0 0 0;
	background: #C60001;
	color: #FFFFFF;
	font-size:15px;
	font-family: 'Open Sans',arial,sans-serif;
	border-top: 1px solid #FFC000;
	padding: 8px 15px 10px 15px;
	font-weight: bold;
	position: relative;
        bottom:0%;
        width:98%;
}

/*eliminar solo es temporal es para platnilla vaica*/
#temporal-table {
	display: table;
	width:824px;
	height:400px;
	padding:0 0 0 15px;
	border-left:1px solid #BABCC0;
}

#temporal-cell {
	display: table-cell;
	vertical-align:middle;
	position: relative;
	text-align:center;
	width:100%;
	height:100%;
}

#temporal-cell h1 {
	font-size:30px;
}

#title-page {
    font-family: 'Open Sans',arial,sans-serif;
    font-size: 25px;
    //font-weight: 100;
    /*color:#567f3b;*/
    color:#C60001;
    text-shadow: 2px 2px 5px #C60001;
}

input[type=submit] {
  height: 32px;
  font-size: 13px;
}

.button-submit {
  border: 1px solid #9D2323;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  border-radius:2px;
  background-color: #C60001;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#C31E1E),to(#C31E1E));
  background-image: -webkit-linear-gradient(top,#C31E1E,#C31E1E);
  background-image: -moz-linear-gradient(top,#C31E1E,#C31E1E);
  background-image: -ms-linear-gradient(top,#C31E1E,#C31E1E);
  background-image: -o-linear-gradient(top,#C31E1E,#C31E1E);
  background-image: linear-gradient(top,#C31E1E,#4787ed);
}

.button-submit:hover {
  border: 1px solid #06D606;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #C60001;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#C31E1E),to(#E65959));
  background-image: -webkit-linear-gradient(top,#C31E1E,#E65959);
  background-image: -moz-linear-gradient(top,#C31E1E,#E65959);
  background-image: -ms-linear-gradient(top,#C31E1E,#E65959);
  background-image: -o-linear-gradient(top,#C31E1E,#E65959);
  background-image: linear-gradient(top,#C31E1E,#E65959);
}
 
 .button-submit:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.well-form{	
	min-height: 20px;
	padding: 10px;
	margin-bottom: 20px;
	margin-top:20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	width:400px;	
}

.miboton {
background-color:#4D90FE;
color: #fff;
border-radius:2px;
border: 1px solid #3079ed;
width: 100px;
height: 35px;
cursor:pointer;
 background-color: #4d90fe;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
  background-image: linear-gradient(top,#4d90fe,#4787ed);
}
.miboton a{
line-height:35px;
text-decoration:none;
color:white;
}
.miboton a:hover{
text-decoration:none;
color:white;
}
#tablareporte {
	//border-collapse:collapse;
	//width:90%;
	}
.td_head_f1{
	padding-left:5px;
	padding-right:5px;
	background:#093201;
	border:solid white 1px;
	text-align:center;
	font-size:15px;
	font-family:Calibri;
	color:white;
	}
.td_head_f1 {width:60px;}

.pfn_1 {
	background-color:#EAEBEE;
	padding-left:5px;
	padding-right:5px;
	border:solid #A4A4A4 1px;
	font-size:15px;
	font-family:Calibri;
	
	}